@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		/* overflow: hidden; */
		@apply font-primary bg-black text-white leading-loose;
	}

	section#inicio {
		background-repeat: repeat;
		background-size: 100px;
		background-position: center;
		background-position: 0, 120px;
		background-image: url('/images/otros/pepino-white.png'); 
		background-blend-mode: overlay;
	}

	.title {
		@apply text-[56px] md:text-[80px] leading-[1.1] font-semibold;
	}

	.h1 {
		@apply text-[48px] md:text-[80px] leading-[1.1] font-semibold;
	}

	.h2 {
		@apply text-[36px] md:text-[48px] leading-[1.1] font-semibold;
	}

	.h3 {
		@apply text-[20px] md:text-[24px] leading-[1.1] font-semibold;
	}

	/* @keyframes appear {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	section {
		scroll-margin: 130px;
		animation: appear linear;
		animation-timeline: view();
		animation-range: entry 0% cover 20%;
	} */

	.mask  {
		mask-size: 0;
		mask-position: center;
		mask-repeat: no-repeat;
		mask-image: url('/images/otros/mask.svg');
		transition: mask-size .5s ease-out;
	}
}
